.class1{
    width: 100%;
    height: 750px;
    background-color:slategrey;
}
.class2{
    width:100%;
    height:100px;
    background-color:darkgray;
    display: flex;
    
}
.class3 {
    margin: 20px;
    
}
.class4{
    width:100%;
    height:100px;
    font-size: 40px;
    color:white;
    display:flex;
    margin-left: 550px;
    margin-top: 20px;
}
.class5
{
    width:100%;
    height:650px;
    
    display: flex;
}
.class6
{
    width:30%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.class7
{
    width:70%;
    height: 100%;
    
    
}
.class8
{
    width:300px;
    height: 500px;
    margin: 20px;

    border-radius: 20px;
    background-color:darkgray;
}
.class9
{
    width: 100%;
    height:25%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.class10{
    width: 50%;
    height: 45px;
    background-color: darkgray;
    border-radius: 5px;
}
.class11{
    width: 100%;
    height:40%;
    display: flex;
    align-items: center;
    
    
}
.class12{
    width: 250px;
    height:130px;
    background-color:darkgray;
    border-radius: 20px;
    
    margin-left: 70px;
}
.class13{
    width: 100%;
    height:35%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.class14{
    width: 900px;
    height:60%;
    background-color:darkgray;
    border-radius: 20px;
    
}

#brandname{
    letter-spacing: 3px;
}